body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  color: inherit;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.service {
  background-color: #2e2f42;
}

.service-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.service-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  padding: 16px 32px;
  cursor: pointer;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); */
  /* border-radius: 4px; */
}

.service-button:hover,
.service-button:focus {
  background-color: #404bbf;
}

.advantages-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantages-name {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
}

.advantages-text {
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #ffffff;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  text-align: center;
}

.team-role {
  text-align: center;
  letter-spacing: 0.02em;
}

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
}

.logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo-accent {
  color: #2e2f42;
}
.logo-accent-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
